@tailwind base;
@tailwind components;
@tailwind utilities;


.mg-paragraph > p:not(:last-of-type) {
  margin-bottom: 25px;
}
.markdown h5 {
  font-family: "Space Grotesk";
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
}
.markdown h5 ~ p a {
  color: #49C4FF !important;  
  margin-left: 12px;
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;

  @media (max-width: 600px){
    display: block;
    margin-bottom: 10px;
  }
}


.markdown a {
  text-decoration: none;
}

.markdown a strong {
  color: #49C4FF !important;  
}

#contact {
  border-top: 1px solid #7D7D7D;
  border-bottom: 1px solid #7D7D7D;
}

footer .markdown ul {
  margin: 0;
  list-style: none;
}