@tailwind base;
@tailwind components;
@tailwind utilities;


.mg-paragraph > p:not(:last-of-type) {
  margin-bottom: 25px;
}
.markdown h5 {
  font-family: "Space Grotesk";
  font-weight: 600;
  font-size: 23px;
  line-height: 30px;
}
.markdown strong ~ a {
  color: #49C4FF !important;  
  margin-left: 12px;
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
}

.markdown a {
  text-decoration: none;
}

#contact {
  border-top: 1px solid #7D7D7D;
  border-bottom: 1px solid #7D7D7D;
}

footer .markdown ul {
  margin: 0;
  list-style: none;
}